@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Merriweather', serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
  cursor: default;
  box-sizing: border-box

}
body {
  min-height: 100%;
  overflow-x: scroll;
}
 /* highlight the page user is on */
.active{
  background-color: #6e7f80;
}

.parallax {
  /* The image used */
  background-image: url("bg03.jpg");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clear {
  clear: both;
  content: "";
  display: table;
}
/* ------------------------------------------ */

/* Nav bar/Menu styles */

#logo {
  padding-left: 30px;
  padding-top: 0px;
}

/* container of menu items */
.container {
  position: sticky;
  top: 0;
}

.menu {
  position: sticky;
  top: 0px;
}

/* nav bar styles */
nav {
  background: black;
  height: 70px;
  width: 100vw;
  top: 0px;
}

/* general list item styles */
nav ul, header ul {
  float: right;
  margin-right: 25px;
  margin-bottom: 0;
  padding-bottom: 0;
}

nav ul li {
  display: inline-block;
  line-height: 68px;
  margin: 0px 0px;
}

nav ul li a {
  color: white;
  font-weight: bolder;
  height: 70px;
  font-size: 20px;
  padding: 25px 13px;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0px 0px;
}
.menu{
  width: 100%;
  min-width: 600px;
}
nav ul li a:hover {
  background-color: #6e7f80;
  color: white;
  font-size: 20px;
  font-style: bold;
}

/* ------------------------------------------ */


/* index page */
.index_bg {
  background-color: rgba(114, 124, 131, 0.7);
  height: 80vh;
  margin-top: 0;
  padding-top: 0;
}
/* video placement */
#video {
  width: 100%;
  text-align: center !important;
  margin-top: 0px;

  margin-top: 20px;
  position: static;
}
.logo_container{
  width: 100%;
  text-align: center;;
  padding-top: 30px;
}
.containter_video {
  min-height: 90vh;
  overflow: auto;
  overflow: auto;
  background: rgba(54, 69, 79, 0.7);
}

.rev_text {
  line-height: 70px;
  color: black;
  font-size: 60px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.rev_text02 {
  line-height: 70px;
  color: black;
  font-size: 40px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 30px;

}

.CharacText {
  color: black;
  font-size: 50px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}

.index_reviews {
  display: flex;
  flex-basis: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.index_about {
  width: 50%;
  margin-left: 30px;
  margin-top: 30px;
  color: #222527;
  font-size: 17px;
  text-align: justify;
}
.slider {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 5%;
  /* margin-bottom: 20px; */
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
  width: 100%;
  margin-right: 80%;
}

.slides input {
  display: none;
}

.slide {
  width: 100%;
  transition: 2s;
}

.slide img {
  width: 400px;
  height: 200px;
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  margin-top: -340px;
  display: flex;
  justify-content: center;
  margin-left: 7%;
}

.manual-btn {
  width: 10px;
  border: 2px solid #6e7f80;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  /* margin-left: 10%; */
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -100%;
}

#radio3:checked~.first {
  margin-left: -200%;
}

#radio4:checked~.first {
  margin-left: -300%;
}

/*css for automatic navigation*/
.navigation-auto {
  /* position: absolute; */
  display: flex;
  width: 100%;
  justify-content: center;
  /* margin-top: 150px; */
}

.navigation-auto div {
  border: 2px solid #6e7f80 •;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: #6e7f80 •;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: #6e7f80 •;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: #6e7f80 •;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: #6e7f80 •;
}

.cities {
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: black;
  padding-top: 5px;
}

.example1 {
  height: 80px;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.example1 h3 {
  font-size: 30px;
  color: white;
  /* position: absolute; */
  width: 200%;
  height: 100%;
  margin: 0;
  line-height: 60px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  /* Apply animation to this element */
  -moz-animation: example1 10s linear infinite;
  -webkit-animation: example1 10s linear infinite;
  animation: example1 25s linear infinite;
}

.BookNow {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 40px;
  text-decoration: none;
  margin-top: 30px;
}

.book {
  text-decoration: underline;
  color: black !important;
}

/* #videosList {
  max-width: 600px;
  overflow: hidden;
  position: static;
} */
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes example1 {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes example1 {
  0% {
    -moz-transform: translateX(100%);
    /* Firefox bug fix */
    -webkit-transform: translateX(100%);
    /* Firefox bug fix */
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%); */
    /* Firefox bug fix */
    -webkit-transform: translateX(-100%);
    /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
/* ------------------------------------------ */
/* Reviews Page */
.box_container{
    width: 100%;
    height: 500px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 20px;
    /* background-color: #c2c7ca; */


}
.box_container:hover .box{
    animation-duration: 5s;
}


.boxes{
    width: 100%;
    height: 500px;

    display: flex;
}
.box_01, .box_02, .box_03, .box_04,.box_05,.box_06,.box_07,.box_08{
    width: 300px;
    height:300px;
    border: 0px solid black;
    border-radius: 3px;
    margin-right: 0px;

    padding: 20px 20px 20px 20px;

    margin-left: 40px;
    background-color: rgba(	54, 69, 79, 0.5);

}
.t{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #1b2227;
  font-size: 20px;
  text-align: center;
}

.box_01:hover, .box_02:hover, .box_03:hover, .box_04:hover, .box_05:hover,.box_06:hover,.box_07:hover, .box_08:hover{
    box-shadow: 5px 10px 7px rgba(0,0,0,0.8);
    transform: scale(1.05);

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    vertical-align:top ;
    width: auto;
    margin-top: 75px;
    padding: 16px;
    color:black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 20;
  }

  /* Position the "next button" to the right */
.next {
    margin-right: 20px;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
.prev:hover, .next:hover {
    color: whitesmoke;
    background-color: rgba(0,0,0,0.8);
  }
.boxes {

    transform: translate3d(0, 0, 0);
  }
.reviewsPage{
  margin-top: 0;
    height: 70vh;
    background-color: rgba(194, 199, 202, 0.4);
  }
}
/* --------------------------------------------------------- */

/* team page? */
#team {
  font-size: 60px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #36454f;
}

.team {
  display: block;
  width: 100%;
  padding: 10px 20% 10px 20%;
}

.trans-bg {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.team_box {
  text-align: left;
  margin-left: 10%;
  margin-top: 10px;
  text-align: justify;
}

.team_container .team_box {
  margin-top: 20px;
}

.team_container {
  display: inline-flex;
  height: 200px;
  color: #36454f;
  padding: 20px 30px 20px 30px;
}

.person01, .person02, .person03, .person04 {
  /* padding: 20px 30px 20px 30px; */
  justify-content: center;
}

.team_box p {
  align-content: center;
}
/* ----------------------------------------------------- */

/* Bookings page */
#ContactForm01 {
  font-size: 30px;
  width: 100%;
  padding-bottom: 50px;
  padding-inline-start: 10%;
  padding-inline-end: 10%;
  text-align: center;
  padding-top: 50px;
  color: #36454f;
}

.wrapper {
  top: 50%;
  width: 100%;
  overflow: auto;
  display: flex;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0px 5px 30px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  padding-top: 20px;
}

.inputBox, .message {
  width: 48%;

}
.message textarea {
  min-height: 175px;
  resize: vertical;
  height: 175px;
}
.inputBox .input, .message textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  padding: 10px;
  color: white;
  width: 100%;

}

.message textarea {
  height: 212px;
}

.btn {
  background: #36454f;
  text-align: center;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

/* about us page*/
/* .trailer {
  width: 100%;
  height: 300px;
  background-color: #708090;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  align-content: center;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
} */



/*footer*/
.footer {
  bottom: 0%;
  background: black;
  height: 200px;
  overflow: auto;
  width: 100%;
}

.text_socialmedia {
  width: 100%;
  /* line-height: 40px; */
  padding-top: 15px;
  weight: bolder;
  text-align: center;
  color: white;
  font-size: 20px;
}

.footer .footer_content {
  /* display: flex; */
  width: 100%;
}

.social-box {
  margin: auto;
  width: 100%;
  /* align-content: center; */
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.line1 {
  width: 19%;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 30px;
}

.footer .copyright {
  margin: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 05px;
  color: white;
}



/* @keyframes moveSlideshow {
100% {
    -webkit-transform: translateX(-200%);
} */
